.flexer{
    display: flex;
}

.spaceplease{
    margin-left: 1rem;
    color: aqua;
    font-weight: bold;
    font-size: 15px;
}

.guide{
    color: aqua;
    
}

.card{
    color: aqua;
}