.flexer{
    display: flex;
}

.spaceplease{
    margin-left: 1rem;
    color: aqua;
    font-weight: bold;
    font-size: 15px;
}

.guide{
    color: aqua;
    
}

.carder{
    color: aqua;
}

#sub{
    background-color: aqua;
    margin-left: 0.7rem;
}

