.maindiv{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    background-color: #1b1f23;
    
}
.maindiv .icon{
    display: none;
}

@media screen and (max-width:800px){
    .maindiv .icon{
        display: block;
    }

    .guide{
        font-size: 1.3rem;
    }


    .guide2{
        font-size: 2rem;
    }
}

@media screen and (max-width:400px){

    .guide{
        font-size: 1rem;
    }


    .guide2{
        font-size: 1.5rem;
    }
}

.col1{
    margin-right: 4rem;
    margin-left: 10rem;
    display: block;

}

.cols{
    text-decoration: none;
    color: aqua;
    text-transform: none;
    font-size: 0.9rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    
}

.footerlinks{
    color: aqua;
    transition: all 1s;
    opacity: 0.5;
}

.footerlinks:hover{
    color: white;
    opacity: 1;
    text-decoration: underline;
}


.newsletter{
    margin: 3rem;
    margin-left: 9rem;
}


@media screen and (max-width:800px) and (min-width:0px) {
    .maindiv{
        
        height: 200vh;
        display: block;
    }

    .cols{
        float:left;
        margin: 10px;
        margin-left: 80px;
        width: 100vw;
    }
    
    .newsletter{
        display:block;
        float:right;
    }
}

@media screen and (max-width:500px){
    .maindiv{
        
        height: 140vh;
        
    }
}

.footerguide{
    color:white;
}

.containers{
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bg-dark{
    background-color: #000000;

}
.bg-weird{
    background-color: wheat;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    padding-top: 5px;
}


#products{
    margin-top: 2rem;
    font-size: 0.8rem;
    font-weight:bold;
}

@media screen and (max-width:700px) and (min-width:0px) {
    .container{
        display:block;
    }
    
}

#marginsforproducts{
    margin-left: 30px;
}

.flexertop{
    display:flex;
}

.googleicon{
    font-size: 2rem;
}

.infotexts{
    color: wheat;
    padding:60px;
    margin-top: 3rem;
    
    
}

.heading{
    color: aqua;
    text-decoration: underline;
}